<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-center">
            <li [routerLinkActive]="['active']"><a routerLink="/home/welcome" routerLinkActive="active">Home</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/home/login" routerLinkActive="active">Login</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/home/register" routerLinkActive="active">Register</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/home/about-us" routerLinkActive="active">About us</a></li>
        </ul>
    </div>
</nav>